#structure {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

button {
    width: fit-content;
}



#table-container {
    display: flex;
    flex-direction: column;
    padding: 1px 0;
    max-width: 1200px;
    background-color: #eaeaea;
    gap: 1px;

}

.table-item {
    display: inline-flex;
    background-color: white;
    gap: 15px;
    align-items: center;
    padding: 0 10px;
}

.name {
    flex: 2 1 0;
}
.type {
    flex: 1 1 0;
}
.s-time {
    flex: 1 1 0;
}
.e-time {
    flex: 1 1 0;
}
.status {
    flex: 0.7 1;
}

.actions {
    flex: 0.7 1;
}

#table-header {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
}

